.__show_photoset {
    overflow: visible !important;
    position: relative;
    z-index: 99999999;
}

.__download_parent {
    position: relative !important;
}

a.__download_parent {
    display: inline-block;
    margin-bottom: -5px !important;
}

a.__download_parent img {
    margin-bottom: 0 !important;
}

.__download_parent:hover .__download {
    opacity: 1;
}

.__highlight img {
    outline: 1px solid #f00;
}

.__download {
    background: #2c4762;
    display: inline-block;
    padding: 0.3em 0.6em;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    opacity: 0;
    cursor: pointer;
}

.__download:hover {
    background: #1f354c;
}

.__downloaded ~ .__download:before {
    content: '\2713\00A0';
}
