$tumblr-color: #36465d;
$tumblr-color-transparent: transparentize($tumblr-color, 0.444);
$tumblr-color-hover: darken($tumblr-color, 20%);

$tumblr-green: #61c292;
$tumblr-red: #c74c4c;

$tumblr-light-color: #529ecc;

$tumblr-gray: hsl(210, 10%, 65%);
$tumblr-gray-hover: hsl(210, 10%, 55%);

$text-primary-color: hsl(0, 0%, 27%);
$text-primary-color-hover: hsl(0, 0%, 37%);

$text-secondary-color: hsl(0, 0%, 60%);
$text-secondary-color-hover: hsl(0, 0%, 50%);

$border: hsl(0, 0%, 85%);
$border-active: hsl(0, 0%, 65%);

$text-base-size: 14px;
$text-smaller: 0.8rem;

$font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;

$border-radius: 3px;
$input-radius: 2px;

.base-button {
    background: $tumblr-gray;
    min-width: 69px;
    border: none;
    border-radius: $input-radius;
    padding: 0 10px;
    font-weight: bold !important;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    line-height: 30px;
    height: 30px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 13px;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background: $tumblr-gray-hover;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 5px $tumblr-light-color;
        text-decoration: none;
    }
}

.text-reset {
    font-size: $text-base-size !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif !important;
    line-height: 1.4 !important;
    text-shadow: none !important;
    cursor: auto !important;
}

strong.keyboard-key,
.keyboard-key p:not(.desc) strong,
strong.TID-keyboard-key,
.TID-keyboard-key strong {
    background: #fff;
    margin: -4px 0;
    padding: 4px 8px;
    border: 1px solid $border;
    border-bottom-width: 2px;
    border-radius: $input-radius;
    font-weight: bold;
}
