@import 'normalize';
@import 'vars';
@import 'dialog.scss';

$main-width: 665px;
$main-margin: 32px;

html, body {
    height: 100%;
}

body {
    background: $tumblr-color;
    text-align: center;
    font-size: $text-base-size;
    font-family: $font-family;
    color: $text-primary-color;
    min-width: 360px;
}

#static *, #static *:before, #static *:after {
    -webkit-transition: none !important;
    transition: none !important;
}

main {
    background: #fff;
    width: auto;
    max-width: $main-width;
    margin: 0 auto;
    padding: 1.5rem;
    text-align: left;
    box-sizing: border-box;
}

hr {
    border: none;
    border-top: 1px solid hsl(0, 0%, 95%);
    margin: 1.5rem 0;

    &.strong {
        border-top: 1px solid hsl(0, 0%, 90%);
        border-bottom: 1px solid hsl(0, 0%, 90%);
    }
}

h1 {
    font-weight: bold;
    font-size: $text-base-size;
    margin: 0;
    padding: 0;
}

p {
    margin: 0 0 1rem 0;

    &.desc {
        color: $tumblr-gray;
        font-size: $text-smaller;

        a {
            color: $tumblr-gray;
        }
    }

    &:last-child {
        margin: 0;
    }
}

a {
    color: $tumblr-color;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
        text-decoration: underline;
    }
}

header {
    margin: 0 0 1.5rem 0;

    h1 {
        display: flex;
        align-items: center;

        img {
            flex: 0 0 38px;
            margin: 0 0.25rem 0 0;
        }
    }

    nav {
        margin: 1rem 0 0 0;
        text-align: center;
    }

    a {
        @extend .base-button;
        margin: 0 0 0 0.25rem;
        display: inline-block;
        text-align: center;
    }

   &.single {
        display: flex;
        align-items: center;

        & > nav, & > h1 {
            flex: 1 1 auto;
        }

        nav {
            margin: 0;
            text-align: right;
        }
    }
}

section {
    h1 {
        margin: 0 0 1rem 0;
    }
}

button {
    @extend .base-button;
}

input {
    width: 12rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid $border;
    border-radius: $input-radius;
    position: relative;
    top: -0.1rem;

    &:focus {
        border-color: $border-active;
        outline: none;
    }
}

.indent {
    margin-left: 2rem;
}

#download-directories {
    list-style: none;
    padding-left: 0;

    li {
        padding: 0.1rem 0;
    }

    input {
        margin: 0 0.5rem 0 0;
    }

    .move {
        cursor: ns-resize;
        padding: 0.5rem;
        opacity: 0.3;
        font-size: 1.1rem;
    }

    .moving {
        margin: -18px 0 0 0;
        pointer-events: none;
        z-index: 999999;

        .delete {
            display: none;
        }
    }

    .delete {
        cursor: pointer;
        padding: 0.5rem;
        opacity: 0;
        font-size: 1.1rem;
        -webkit-user-select: none;
        user-select: none;
    }

    .fake {
        opacity: 0;
        visibility: hidden;
    }

    input:focus + .delete {
        opacity: 0.3;
    }

    li:hover .move, li:hover .delete {
        opacity: 0.6;
    }

    li:hover .default {
        opacity: 1;
    }

    li .move:hover, li .delete:hover, li .delete:focus {
        opacity: 0.9;
        outline: none;
    }

    .blank .move, .blank .delete, .blank .default {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.toggle-group {

    label {
        display: flex;
        align-items: baseline;
    }

    input + span {
        flex: 0 0 25px;
        margin: 0 0.5rem 0 0;
    }

    span:last-child {
        flex: 1 1 auto;
    }
}

label {
    position: relative;
    -webkit-user-select: none;
    user-select: none;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    $slider-height: $border-radius * 2.4;
    $button-size: $slider-height * 0.7;
    $offset: $button-size * 0.15;

    & + span {
        display: inline-block;
        margin: 0 0.5rem 0 0;
        position: relative;
        width: 25px;
        height: 14px;
        background: $tumblr-gray;
        border-radius: 7px;
        cursor: pointer;
        -webkit-user-select: none;
        transform: translateY(2px);
    }

    &:checked + span {
        background: $tumblr-light-color;
    }

    &:focus + span {
        outline: none;
        box-shadow: 0 0 0 0.1rem #fff, 0 0 0.1rem 0.15rem $tumblr-color;
    }

    & + span:before {
        content: '';
        background: #fff;
        border-radius: 50%;
        display: block;
        height: 10px;
        width: 10px;
        position: absolute;
        top: 2px;
        -webkit-transition: left 0.1s $easeOutBack;
        transition: left 0.1s $easeOutBack;
    }

    &:not(:checked) + span:before {
        left: 2px;
    }

    &:checked + span:before {
        left: 25px - 2px - 10px;
    }

    &.toggle + span:after {
        content: '__MSG_disabled__';
        position: relative;
        left: 2rem;
        top: -1px;
    }

    &.toggle:checked + span:after {
        content: '__MSG_enabled__';
    }
}

.saved {
    opacity: 0;
    visibility: hidden;
    margin: 0 0.5rem;
    font-size: $text-smaller;
    color: $tumblr-green;
    font-weight: bold;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transition: all 0.1s $easeOutBack;
    transition: all 0.1s $easeOutBack;

    &.show {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

footer {
    font-size: $text-smaller;
    color: $tumblr-gray;
}

.hide {
    display: none;
}

#translate {
    background: $tumblr-green;
    color: #fff;
    border-radius: $border-radius;
    margin: 1.5rem 0;
    padding: 1rem;
    text-align: center;
}

@media (min-width: $main-width + ($main-margin * 2)) {
    main {
        width: $main-width;
        margin: $main-margin auto;
        padding: 2rem;
        border-radius: $border-radius;
    }

    section {
        display: flex;

        & > div:first-child {
            flex: 0 0 27%;
        }

        & > div:last-child {
            flex: 0 0 73%;
        }
    }

    header {
        display: flex;
        align-items: center;

        & > nav, & > h1 {
            flex: 1 1 auto;
        }

        nav {
            margin: 0;
            text-align: right;
        }
    }
}
