@import "vars.scss";

@-webkit-keyframes overlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes dialog {
    from {
        opacity: 0;
        -webkit-transform: scale(1.5);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

.TID-overlay {
    background: hsla(0, 0%, 0, 0.8);
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999999;
    -webkit-animation: overlay 0.05s linear forwards;
    color: $text-primary-color !important;
    font-size: $text-base-size !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif !important;
    line-height: 1.4 !important;
    text-shadow: none !important;
    cursor: auto !important;

    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: -0.25em;
        height: 100%;
    }

    strong {
        font-weight: bolder;
    }

}

.TID-dialog {
    background: #fff;
    border-radius: $border-radius;
    padding: 1.5em 2.25em;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: dialog 0.15s $easeOutBack forwards;
    animation: dialog 0.15s $easeOutBack forwards;
}

.TID-dialog-message {
}

.TID-dialog-button {
    @extend .base-button;
    display: inline-block;
    margin: 1em 0.5em 0;
}
