@import 'vars';

@-webkit-keyframes overlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes dialog {
    from {
        opacity: 0;
        -webkit-transform: scale(0.1);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

.TID-overlay {
    background: hsla(0, 0%, 0, 0.8);
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999999;
    -webkit-animation: overlay 0.1s ease-in-out forwards;
    color: $text-primary-color !important;
    @extend .text-reset;
    cursor: auto !important;

    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: -0.25em;
        height: 100%;
    }

    strong {
        font-weight: bolder;
    }
}

.TID-dialog {
    background: #fff;
    border-radius: $border-radius;
    margin: 0 1em;
    padding: 1em 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: dialog 0.2s $easeOutBack forwards;
    animation: dialog 0.2s $easeOutBack forwards;
    @extend .text-reset;

    hr {
        border: none;
        border-top: 2px solid hsl(0, 0%, 95%);
        margin: 1em 0;
    }
}

.TID-dialog-title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0 2.25em;
}

.TID-dialog-message {
    @extend .text-reset;
    text-align: left;
    margin: 0 2.25em 1em;

    .TID-dialog-align-text {
        text-align: left !important;
    }

    ul {
        margin: 0 0 0 18px !important;
        padding: 0 !important;
        list-style: initial !important;

        li {
            margin: 4px 0 0 0 !important;
            padding: 0 !important;
        }

        em {
            font-style: italic !important;
        }

        a {
            color: $tumblr-color !important;
            text-decoration: underline !important;

            &[data-directory="false"] {
                font-style: italic !important;
            }

            &[data-exists="false"] {
                color: $tumblr-red !important;
            }


            &:hover {
                text-decoration: none !important;
            }

            &:focus {
                outline: none !important;
                text-decoration: underline !important;
            }
        }
    }
}

.TID-dialog-image {
    margin: 1.5em 0 1em;
    background-size: contain;
    background-position: center;
    background-repeat: none;

    img {
        max-height: 400px;
    }
}

.TID-dialog-button {
    @extend .base-button;
    display: inline-block;
    margin: 0 0.5em;
}

