@import "vars.scss";

body {

    &:before, &:after {
        display: none;
    }

}

main {
    width: 325px;
    padding: 1.5rem;
    border-radius: 0;
}

header {
    margin: 0;
}

section {
    display: block;

    h1 {
        margin: 0 0 1rem 0;
    }

}

input {
    width: 12rem;
}
