@import "dialog.scss";
@import "vars.scss";

$opacity: 0.5;

.__TID_photoset {
    overflow: visible !important;
    position: relative;
    z-index: 99999999;
}

.__TID_parent {
    position: relative !important;
}

a.__TID_parent {
    display: inline-block;
    margin-bottom: -5px !important;

    img {
        margin-bottom: 0 !important;
    }

}

.__TID_parent:hover .__TID_download_div,
#tumblr_lightbox_center_link:hover .__TID_download_div {
    opacity: 1;
}

.__TID_parent:hover .__TID_list,
#tumblr_lightbox_center_link:hover .__TID_list  {
    opacity: $opacity;
}

.post.post_micro .__TID_highlight {
    box-shadow: inset 0 0 0 1px $tumblr-color-hover, inset 0 0 0 2px #fff;
}

.__TID_download {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9999999999;
    white-space: pre;

    body.editing & {
        z-index: initial;
    }

    &,
    div,
    ul,
    li,
    strong {
        color: #fff !important;
        font-size: $text-base-size !important;
        font-style: normal !important;
        font-variant: normal !important;
        font-weight: normal !important;
        font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif !important;
        line-height: 1.4 !important;
        text-shadow: none !important;
        cursor: pointer !important;
    }

    strong {
        font-weight: bolder !important;
        pointer-events: none;
    }

    &:hover + img {
        outline: 1px solid #fff;
        outline-offset: -1px;
        box-shadow: 0 0 0 1px $tumblr-color-hover;
    }

    .__TID_download_div,
    .__TID_list {
        opacity: 0;
    }

    &:hover .__TID_list {
        opacity: 1 !important;
    }

}

.__TID_download_div {
    background: $tumblr-color;
    display: inline-block;
    padding: 0.3em 0.6em;

    &:hover {
        background: $tumblr-color-hover;
    }

}

.post.post_micro.has_hover.masonry-brick .__TID_download {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 3px 3px 3px;
    opacity: 1;
}

.post.post_micro.has_hover.masonry-brick .__TID_list {
    display: none;
}

.__TID_show_ticks .__TID_parent:not(:hover) .__TID_downloaded:before,
.__TID_show_ticks #tumblr_lightbox_center_link:not(:hover) .__TID_downloaded:before,
.__TID_downloaded .__TID_download_div:before {
    content: '\2713\00A0';
}

.__TID_show_ticks .__TID_parent:not(:hover) .__TID_downloaded:before,
.__TID_show_ticks #tumblr_lightbox_center_link:not(:hover) .__TID_downloaded:before {
    opacity: $opacity;
    background: $tumblr-color;
    display: inline-block;
    padding: 0.3em 0.3em 0.3em 0.6em;
}

.__TID_list {
    background: $tumblr-color;
    display: inline-block;
    position: relative;

    &:before {
        content: '';
        display: block;
        margin-left: 100%;
    }

    &:hover {
        opacity: 1;
    }

    ul {
        background: $tumblr-color;
        min-width: 31px;
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        white-space: pre;
        list-style: none;
        z-index: 99999999;

        span {
            color: hsla(0, 0%, 100%, 0.75);
            pointer-events: none;
        }

    }

    &:hover ul {
        display: block;
    }

    li {
        padding: 0.3em 0.6em;

        &:hover {
            background: $tumblr-color-hover;
        }

    }

    & > span {
        display: block;
        padding: 0.3em 0.6em;

    }

    &:hover > span {
        background: $tumblr-color-hover;
    }

    & strong {
        display: inline-block;
        padding: 0 0.15em;
        color: #fff;
        pointer-events: none;
    }

}

.__TID_hide_locations {

    .__TID_list {
        display: none !important;
    }

}
