$tumblr-color: #2c4762;
$tumblr-color-hover: #15212e;
$color-normal: #2c4762;
$color-hover: #15212e;
$opacity: 0.5;
$border-radius: 6px;
$tumblr-gray: hsl(210, 10%, 65%);
$tumblr-gray-hover: hsl(210, 10%, 55%);
$text-primary-color: hsl(0, 0%, 27%);
$text-primary-color-hover: hsl(0, 0%, 37%);

.__TID_photoset {
    overflow: visible !important;
    position: relative;
    z-index: 99999999;
}

.__TID_parent {
    position: relative !important;
}

a.__TID_parent {
    display: inline-block;
    margin-bottom: -5px !important;

    img {
        margin-bottom: 0 !important;
    }

}

.__TID_parent:hover .__TID_download_div,
#tumblr_lightbox_center_link:hover .__TID_download_div {
    opacity: 1;
}

.__TID_parent:hover .__TID_list,
#tumblr_lightbox_center_link:hover .__TID_list  {
    opacity: $opacity;
}

.post.post_micro .__TID_highlight {
    box-shadow: inset 0 0 0 1px $color-hover, inset 0 0 0 2px #fff;
}

.__TID_download {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9999999999;
    white-space: pre;

    body.editing & {
        z-index: initial;
    }

    &,
    div,
    ul,
    li,
    strong {
        color: #fff !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-variant: normal !important;
        font-weight: normal !important;
        font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif !important;
        line-height: 1.4 !important;
        text-shadow: none !important;
        cursor: pointer !important;
    }

    strong {
        font-weight: bolder !important;
        pointer-events: none;
    }

    &:hover + img {
        outline: 1px solid #fff;
        outline-offset: -1px;
        box-shadow: 0 0 0 1px $color-hover;
    }

    .__TID_download_div,
    .__TID_list {
        opacity: 0;
    }

    &:hover .__TID_list {
        opacity: 1 !important;
    }

}

.__TID_download_div {
    background: $color-normal;
    display: inline-block;
    padding: 0.3em 0.6em;

    &:hover {
        background: $color-hover;
    }

}

.post.post_micro.has_hover.masonry-brick .__TID_download {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 3px 3px 3px;
    opacity: 1;
}

.post.post_micro.has_hover.masonry-brick .__TID_list {
    display: none;
}

.__TID_show_ticks .__TID_parent:not(:hover) .__TID_downloaded:before,
.__TID_show_ticks #tumblr_lightbox_center_link:not(:hover) .__TID_downloaded:before,
.__TID_downloaded .__TID_download_div:before {
    content: '\2713\00A0';
}

.__TID_show_ticks .__TID_parent:not(:hover) .__TID_downloaded:before,
.__TID_show_ticks #tumblr_lightbox_center_link:not(:hover) .__TID_downloaded:before {
    opacity: $opacity;
    background: $color-normal;
    display: inline-block;
    padding: 0.3em 0.3em 0.3em 0.6em;
}

.__TID_list {
    background: $color-normal;
    display: inline-block;
    position: relative;

    &:before {
        content: '';
        display: block;
        margin-left: 100%;
    }

    &:hover {
        opacity: 1;
    }

    ul {
        background: $color-normal;
        min-width: 31px;
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        white-space: pre;
        list-style: none;
        z-index: 99999999;

        span {
            color: hsla(0, 0%, 100%, 0.75);
            pointer-events: none;
        }

    }

    &:hover ul {
        display: block;
    }

    li {
        padding: 0.3em 0.6em;

        &:hover {
            background: $color-hover;
        }

    }

    & > span {
        display: block;
        padding: 0.3em 0.6em;

    }

    &:hover > span {
        background: $color-hover;
    }

    & strong {
        display: inline-block;
        padding: 0 0.15em;
        color: #fff;
        pointer-events: none;
    }

}

.__TID_hide_locations {

    .__TID_list {
        display: none !important;
    }

}

@-webkit-keyframes overlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes dialog {
    from {
        opacity: 0;
        -webkit-transform: scale(1.5);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

.__TID_overlay {
    background: hsla(0, 0%, 0, 0.9);
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999999;
    -webkit-animation: overlay 0.05s linear forwards;

    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: -0.25em;
        height: 100%;
    }

}

.__TID_dialog {
    background: #fff;
    border-radius: $border-radius;
    padding: 2em 3em;
    display: inline-block;
    vertical-align: middle;
    color: $text-primary-color;
    -webkit-animation: dialog 0.15s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards; // easeOutBack
}

.__TID_dialog_message {
}

.__TID_dialog_button {
    background: $tumblr-gray;
    display: inline-block;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 0.75rem;
    margin: 1em 0.5em 0;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background: $tumblr-gray-hover;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 0.1rem #fff, 0 0 0.1rem 0.15rem $tumblr-color;
    }

}
