@import "dialog.scss";
@import "vars.scss";

.TID-photoset {
    overflow: visible !important;
    position: relative;
    z-index: 99999999;
}

.TID-parent {
    position: relative !important;
}

a.TID-parent {
    display: inline-block;
    margin-bottom: -5px !important;

    img {
        margin-bottom: 0 !important;
    }

}

.TID-parent:hover .TID-download-div,
.TID-parent:hover .TID-list,
#tumblr_lightbox_center_link:hover .TID-download-div,
#tumblr_lightbox_center_link:hover .TID-list {
    opacity: 1;
}

.TID-download {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9999999999;
    white-space: pre;

    body.editing & {
        z-index: initial;
    }

    &,
    div,
    ul,
    li,
    strong {
        color: #fff !important;
        font-size: $text-base-size !important;
        font-style: normal !important;
        font-variant: normal !important;
        font-weight: normal !important;
        font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif !important;
        line-height: 1.4 !important;
        text-shadow: none !important;
        cursor: pointer !important;
    }

    strong {
        font-weight: bolder !important;
        pointer-events: none;
    }

    &:hover + img {
        outline: 1px solid #fff;
        outline-offset: -1px;
        box-shadow: 0 0 0 1px $tumblr-color-hover;
    }

    .TID-download-div,
    .TID-list {
        opacity: 0;
    }

    &:hover .TID-list {
        background: $tumblr-color;
    }

}

.TID-download-div {
    background: $tumblr-color;
    display: inline-block;
    padding: 0.3em 0.6em;

    &:hover {
        background: $tumblr-color-hover;
    }

}

.TID-archive {

    &.TID-show-ticks .post:not(:hover) .TID-downloaded:after {
        content: '\2713';
        display: block;
        background: $tumblr-color;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0.3em 0.6em;
        font-size: 0.75em;
        border-radius: $border-radius 0 $border-radius 0;
    }

    .post {
        overflow: visible;

        &.TID-highlight {
            z-index: 9999999999999;

            .post_glass {
                box-shadow: inset 0 0 0 1px $tumblr-color-hover, inset 0 0 0 2px #fff;
            }

        }

        .TID-download {
            top: auto;
            bottom: 100%;
        }

        .TID-download-div, .TID-list {
            display: none;
        }


        &.is_photo:hover {

            .post_content,
            .post_content_inner,
            .post_thumbnail_container,
            .post_glass {
                border-top-left-radius: 0;
            }

            .TID-download-div {
                display: inline-block;
                opacity: 1;
            }

            .TID-list  {
                display: inline-block;
                opacity: 1;
                background: $tumblr-color-transparent;
            }

        }

    }

}

.TID-show-ticks .TID-parent:not(:hover) .TID-downloaded:before,
.TID-show-ticks #tumblr_lightbox_center_link:not(:hover) .TID-downloaded:before,
.TID-downloaded .TID-download-div:before {
    content: '\2713\00A0';
}

.TID-show-ticks .TID-parent:not(:hover) .TID-downloaded:before,
.TID-show-ticks #tumblr_lightbox_center_link:not(:hover) .TID-downloaded:before {
    background: $tumblr-color-transparent;
    display: inline-block;
    padding: 0.3em 0.3em 0.3em 0.6em;
}

.TID-list {
    background: $tumblr-color-transparent;
    display: inline-block;
    position: relative;

    &:before {
        content: '';
        display: block;
        margin-left: 100%;
    }

    &:hover {
        opacity: 1;
    }

    ul {
        background: $tumblr-color;
        min-width: 31px;
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        white-space: pre;
        list-style: none;
        z-index: 99999999;

        span {
            color: hsla(0, 0%, 100%, 0.75);
            pointer-events: none;
        }

    }

    &:hover ul {
        display: block;
    }

    li {
        padding: 0.3em 0.6em;

        &:hover {
            background: $tumblr-color-hover;
        }

    }

    & > span {
        display: block;
        padding: 0.3em 0.6em;

    }

    &:hover > span {
        background: $tumblr-color-hover;
    }

    & strong {
        display: inline-block;
        padding: 0 0.25em;
        color: #fff;
        pointer-events: none;
    }

}

.TID-hide-locations {

    .TID-list {
        display: none !important;
    }

}
