@import 'dialog';
@import 'vars';

$time-short: 0.1s;
$time-long: 0.2s;
$easing: ease-in-out;

@font-face {
    font-family: 'tumblr-icons';
    src: url('https://secure.assets.tumblr.com/fonts/tumblr-icons/tumblr-icons_b5f923caf182ed9c2de28e209f4a02fd.eot');
    src: url('https://secure.assets.tumblr.com/fonts/tumblr-icons/tumblr-icons_b5f923caf182ed9c2de28e209f4a02fd.eot?#iefix') format('embedded-opentype'),
         url('https://secure.assets.tumblr.com/fonts/tumblr-icons/tumblr-icons_b5f923caf182ed9c2de28e209f4a02fd.woff') format('woff'),
         url('https://secure.assets.tumblr.com/fonts/tumblr-icons/tumblr-icons_b5f923caf182ed9c2de28e209f4a02fd.ttf') format('truetype'),
         url('https://secure.assets.tumblr.com/fonts/tumblr-icons/tumblr-icons_b5f923caf182ed9c2de28e209f4a02fd.svg#tumblr-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes tick-background {
    0% {
        background-color: transparentize($tumblr-color, 1);
    }
    100% {
        background-color: $tumblr-color-transparent;
    }
}

@keyframes tick-background {
    0% {
        background-color: transparentize($tumblr-color, 1);
    }
    100% {
        background-color: $tumblr-color-transparent;
    }
}

@-webkit-keyframes tick-text {
    0% {
        transform: scale(0.5);
        color: unquote('hsla(0, 0%, 100%, 0)');
    }
    100% {
        transform: scale(1);
        color: unquote('hsla(0, 0%, 100%, 1)');
    }
}

@keyframes tick-text {
    0% {
        transform: scale(0.5);
        color: unquote('hsla(0, 0%, 100%, 0)');
    }
    100% {
        transform: scale(1);
        color: unquote('hsla(0, 0%, 100%, 1)');
    }
}

%transition {
    transition-property: background-color, opacity, visibility;
    transition-duration: $time-short;
    transition-timing-function: $easing;
}

%hidden {
    opacity: 0;
    visibility: hidden;
    @extend %transition;
}

%visible {
    opacity: 1;
    visibility: visible;
}

.TID-photoset {
    overflow: visible !important;
    position: relative;
    z-index: 99999999;
}

.TID-parent {
    position: relative !important;
}

a.TID-parent {
    display: inline-block;
    margin-bottom: -5px !important;

    img {
        margin-bottom: 0 !important;
    }
}

.TID-download {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 77;
    white-space: pre !important;
    color: #fff !important;
    -webkit-user-select: none;
    user-select: none;

    &, & div, & span, & i, & ul, & li {
        cursor: pointer;
        @extend %text-reset;
    }

    .single_image & {
        position: relative;
    }

    #tumblr_lightbox & {
        z-index: 9999999999;
    }

    body.editing & {
        z-index: initial;
    }

    strong {
        font-weight: bolder !important;
        pointer-events: none;
    }

    & + img {
        position: relative;
        outline: 1px solid unquote('hsla(0, 0%, 100%, 0)');
        transition-property: box-shadow, outline;
        transition-duration: $time-long;
        transition-timing-function: $easing;
    }

    &:hover {
        z-index: 9999999999;

        & + img {
            outline: 1px solid unquote('hsla(0, 0%, 100%, 1)');
            box-shadow: 0 0 10px 5px $tumblr-color;
            z-index: 80;
        }
    }

    .TID-show-ticks &.TID-downloaded:before {
        content: '\2713';
        background-color: transparentize($tumblr-color, 1);
        padding: 0.3em 0.6em;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 78;
        color: unquote('hsla(0, 0%, 100%, 0)');
        -webkit-animation: tick-background $time-long $easing forwards;
        animation: tick-background $time-long $easing forwards;
    }

    .TID-archive &.TID-downloaded:before {
        border-radius: $border-radius 0 $border-radius 0;
    }

    .TID-show-ticks &.TID-downloaded:after {
        content: '\2713';
        padding: 0.3em 0.6em;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 78;
        color: unquote('hsla(0, 0%, 100%, 0)');
        -webkit-animation: tick-text $time-long $easing forwards;
        animation: tick-text $time-long $easing forwards;
    }
}

.TID-download-div {
    background-color: $tumblr-color;
    flex: 0 0 auto;
    padding: 0.3em 0.6em;
    position: relative;
    z-index: 79;
    @extend %hidden;

    .single_image & {
        @extend %visible;
    }

    .TID-parent:hover &,
    #tumblr_lightbox_center_link:hover & {
        @extend %visible;
    }

    &:hover {
        background-color: $tumblr-color-hover;
    }

    &:active {
        background-color: $tumblr-color-active;
    }

    .TID-downloaded &:before {
        content: '\2713\0020';
    }
}

.TID-list {
    flex: 0 0 auto;
    position: relative;
    @extend %hidden;

    .single_image & {
        @extend %visible;
    }

    .TID-parent:hover &,
    #tumblr_lightbox_center_link:hover & {
        @extend %visible;
    }

    .TID-hide-locations & {
        display: none;
    }

    &:before {
        background-color: $tumblr-color-transparent;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.3em 0.6em;
        font-family: tumblr-icons;
        content: '\f104';
        @extend %transition;

        .TID-download:hover & {
            background-color: $tumblr-color;
        }
    }

    ul {
        background-color: $tumblr-color;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 !important;
        padding: 0 !important;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        @extend %hidden;
    }

    &:hover ul {
        @extend %visible;
    }

    li {
        display: flex;
        padding: 0.3em 0.6em;
        list-style: none !important;

        &:hover {
            background-color: $tumblr-color-hover;
        }

        &:active {
            background-color: $tumblr-color-active;
        }

        &.TID-downloaded:before {
            content: '\2713\0020';
        }

        span {
            pointer-events: none;

            &:not(:last-child) {
                color: unquote('hsla(0, 0%, 100%, 0.75)') !important;
            }
        }

        i {
            pointer-events: none;
            transform: translateY(-1px);

            &:after {
                padding: 0 3px;
                font-family: tumblr-icons;
                font-size: 0.65em;
                content: '\f106';
            }
        }
    }
}

.TID-archive {

    .post {

        &.TID-highlight {
            z-index: 9999999999;

            .post_glass {
                box-shadow: inset 0 0 0 1px $tumblr-color-hover, inset 0 0 0 2px #fff;
            }
        }

        &.is_photo:hover {
            overflow: visible;

            .TID-download {
                top: auto;
                bottom: 100%;
            }

            .post_content,
            .post_content_inner,
            .post_thumbnail_container,
            .post_glass {
                border-top-left-radius: 0;
            }

            .TID-download-div {
                opacity: 1;
                visibility: visible;
            }

            .TID-list  {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
