$tumblr-color: #2c4762;
$tumblr-color-hover: #15212e;

$tumblr-light-color: #529ecc;

$tumblr-gray: hsl(210, 10%, 65%);
$tumblr-gray-hover: hsl(210, 10%, 55%);

$text-primary-color: hsl(0, 0%, 27%);
$text-primary-color-hover: hsl(0, 0%, 37%);

$text-secondary-color: hsl(0, 0%, 60%);
$text-secondary-color-hover: hsl(0, 0%, 50%);

$border: hsl(0, 0%, 85%);
$border-active: hsl(0, 0%, 65%);

$text-base-size: 14px;

$border-radius: 6px;
